py -V:3.10 -m venv .venv
#.\.venv\Scripts\activate      #가상환경 켜는 명령어
python -m pip install --upgrade pip
pip install "numpy<2"
pip install paddlepaddle==2.6.2
pip install paddleocr==2.7.0.3
pip install opencv-python==4.6.0.66
pip install ultralytics



#deactivate # 가상환경 끄기
#꼭 python 폴더로 이동해서 main.py 있는공간에서 실행
